* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Lucida sans Unicode ;
}

body{
    background-image: url(background5.jpg);
}

/* Navbar section */
.navbar {
    background: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top:0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width:100%;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1vw;
}

#__logo{
    background: black;
    background-size: 100%;
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
   height: 80px;
}

.navbar__links{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    color: grey;
    transition: all 500ms;
}

/*Home Section CSS*/

.home{
    /* background-color: red; */
    /* background-image: url(background1.jpg);
    background-size: 1500px; */
}

.home__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    min-height: 90vh;
    justify-self: center;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /* min-width: 100vw; */
    /* padding: 0 50px; */
    /* background-color: grey; */
}

.home__image{
    /* background-color: aqua; */
    width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
}

#profile{
    margin-right: 7px;
}

#showcase-pic{
    width: 300px;
    height:400px;
    /*border: 4px white solid;*/
    border-radius: 0rem;
}

.home__content h1{
    margin: 0 auto;
    /* background-color: blue; */
    font-size: 60px;
    width: 100%;
    /* opacity: 0; */
    
}

.home__content p {
    /* background-color: blueviolet; */
    padding: 7vh 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    /* opacity: 0; */
}

/* Resume section CSS */

.resume{
    
}

.resume__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    min-height: 90vh;
    justify-self: center;
    /* background-color: yellow; */
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /* min-width: 100vw; */
    padding: 0 7vw;
}

.resume__content p{
    font-size: 40px;
    width: 35vw;
    /* background-color: green; */
    margin-bottom: 10vh;
}

.resume__image{
    margin-left: 1vw;
    /* background-color: purple; */
    width: auto;
    height: auto;
    /* background-color: brown; */
}

#resume {
    height: 100%;
    width: 100%;
}

#resdld{
    color: black;
    cursor: pointer;
}

#resdld:hover{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#resdld:active{
    color: grey;
}

/* Project Section */

.project h1{
    font-size: 50px;
    text-align: center;
    /* background-color: brown; */
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.project__container{
    display: flex;
    margin: 0 auto;
    min-height: 60vh;
    justify-self: center;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /* background-color: silver; */
    padding: 0 150px;
}

.project__content1{
    /* background-color: goldenrod; */
    height: 200px;
    width: 200px;
    padding: 50px;
    text-align: center;
}

.project__content2{
    /* background-color: blue; */
    padding-top: 15vh;
    font-size: 20px;
}

#pingpong{
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 55px;
}

#pingpong:hover{
    transform: scale(1.2);
}

/* About Section */
.about h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 7vh;
    
}

.about__container p{
    width: 100%;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}

/* Footer Section */
footer{
    text-align: center;
    color: white;
}

@media screen and (max-width: 710px) {
    .navbar__container{
        display: felx;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        width: 100%;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        height: 65vh;
        position: absolute;
        top: -1000px;
        opacity: 10;
        transition: all 0.5s ease-in-out;
        z-index: -1;
        background: black;
    }

    .navbar__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #__logo{
        padding-left: 25px;
        padding-right: 10px;
        z-index: 100;
    }
    
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: white;
    }

    .navbar__item{
        width: 100%;
        padding-left: 35%;
        padding-right: 35%;
        height: 100%;
        background-color: black;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        background: black;
        font-size: 16px;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
      
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    

    .home__container{
        width: 100%;
        display: inline;
    }

    .home__image{
        width: auto;
        height: auto;
        /* background-color: orangered; */
        padding: 7vh 10vw;
        text-align: center;
    }

    #showcase-pic{
        width: 75%;
        height: auto;
        margin:0 0;
    }
    
    .home__content h1{
        /* background-color: white; */
        text-align: center;
        
    }
    .home__content p{
        padding:5vh 10vw;
        text-align: center;
    }

    .resume__container{
        display: flex;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0 auto;
        height: 90vh;
        justify-self: center;
        /* background-color: yellow; */
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }

    .resume__content p{
        width: 30vw;
        /* background-color: green; */
        font-size: 25px;
    }

    .resume__image{
        width: 100%;
        margin-left: 4vw;
        /* margin-bottom: 9vh; */
    }

    #resume{
        width: 100%;
        height: 100%;
    }

    .project h1{
        padding-top: 0;
        padding-bottom: 0;
    }

    .project__container{
        display: inline;
        margin: 0 auto;
        min-height: 60vh;
        justify-self: center;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        /* background-color: silver; */
    }

    .project__content1{
        text-align: center;
        /* background-color: green; */
        width: 100%;
    }

    .project__content2{
        text-align: center;
        padding: 0 0;
    }

    .about h1{
        padding-top: 7vh;
    }

}
